[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rDataPipeline"]
	path = rDataPipeline
	url = https://github.com/fairdatapipeline/rdatapipeline
